extends layout_superadmin

block content

    h3 Nouvelle zone
        form(action='/superadmin/superadmin_zones', method='POST')
            input(type='text', name='zoneName', placeholder='Entrez le nom de la zone', autofocus)
            br
            input(type='text', name='username', placeholder='Entrez le login')
            br
            input(type='text', name='password', placeholder='Entrez un mot de passe')
            br
            button.btn.waves-effect.waves-light(type="submit", name="action") Enregistrer
            br
            br
    h3 Zones existantes
    table.highlight
        thead
            tr
                th Zone
                th Login personne contact
                th Chauffeur de bus
                th

        tbody
            each zone in zones
                tr
                    .zone
                        td
                            value=zone.zoneName
                        td
                            value=zone.zoneLogin[0].username
                        td
                            value=zone.zoneLogin[1].username
                        td
                            button.right.btn.waves-effect.waves-light(onclick='deleteZone(' + zone.id_zone + ')') Delete
                            // Modal Trigger
                            a.waves-effect.waves-light.right.btn.modal-trigger(href="#modaleditzone", data-zoneName=zone.zoneName, data-zoneUsername=zone.zoneLogin[0].username, data-zonePassword=zone.zoneLogin[0].password, data-firstname=zone.zonePersonContact.firstName, data-lastname=zone.zonePersonContact.lastName, data-telephon=zone.zonePersonContact.telephon, data-email=zone.zonePersonContact.email, data-busdriverUsername=zone.zoneLogin[1].username, data-busdriverPassword=zone.zoneLogin[1].password) Details/Modifier
                            // Modal Structure
                            #modaleditzone.modal.modal-fixed-footer
                                .modal-content
                                    alert("test")

                                    h4 Modification de la zone
                                    p
                                        h5 Détails zone
                                        label(for='zoneName') Nom zone
                                        input(type='text', id="zoneName", autofocus)
                                        br
                                        label(for='username') Login
                                        input(type='text', id="zoneUsername", autofocus)
                                        br
                                        label(for='password') Password
                                        input(type='text', id="zonePassword", autofocus)
                                        br
                                        h5 Détails personne contact
                                        label(for='firstName') Prénom
                                        input(type='text', name='firstName', placeholder=zone.zonePersonContact.firstName, autofocus)
                                        br
                                        label(for='lastName') Nom de famille
                                        input(type='text', name='lastName', placeholder=zone.zonePersonContact.lastName, autofocus)
                                        br
                                        label(for='telephon') N° téléphone
                                        input(type='text', name='telephon', placeholder=zone.zonePersonContact.telephon, autofocus)
                                        br
                                        label(for='email') Email
                                        input(type='text', name='email', placeholder=zone.zonePersonContact.email, autofocus)
                                        br
                                        h5 Détails chauffeur de bus
                                        label(for='username') Login
                                        input(type='text', name='username', placeholder=zone.zoneLogin[1].username, autofocus)
                                        br
                                        label(for='password') Password
                                        input(type='text', name='password', placeholder=zone.zoneLogin[1].password, autofocus)
                                        br
                                .modal-footer
                                    button.modal-action.modal-close.waves-effect.waves-green.btn-flat(onclick='updateZoneInfos()') Enregistrer
