extends layout_superadmin

block content

    h3 Nouvelle ligne
        form(action='/superadmin/superadmin_lignes', method='POST')
            input(type='text', name='fromStation', placeholder='Entrez la station de départ', class="autocomplete recherche", required)
            br
            input(type='text', name='toStation', placeholder='Entrez la station arrivée', class="autocomplete recherche", required)
            br
            .input-field.col.s12
                select(name='id_zone', required)
                    option(value="", disabled="", selected="") Choisir zone concernée
                    each zone in zones
                        .zone
                            option(value=zone.id_zone)
                                label=zone.zoneName

            br
            button.btn.waves-effect.waves-light(type="submit", name="action") Enregistrer
            br
            br
    h3 Lignes existantes
    table.highlight
        thead
            tr
                th Ligne
                th Station-départ
                th Station-arrivée
                th Nom zone
                th

        tbody
            each line in lines
                tr
                    .zone
                        td
                            value=line.lineName
                        td
                            value=line.fromStation
                        td
                            value=line.toStation
                        td
                            value=line.zoneLine.zoneName
                        td
                            button.right.btn.waves-effect.waves-light(onclick='deleteLine(' + line.id_line + ')') Delete


