extends layout_superadmin

block content

    h3 Nouvelle zone
        form(action='/superadmin/superadmin_zones', method='POST')
            input(type='text', name='zoneName', placeholder='Entrez le nom de la zone', autofocus)
            br
            input(type='text', name='username', placeholder='Entrez le login')
            br
            input(type='text', name='password', placeholder='Entrez un mot de passe')
            br
            button.btn.waves-effect.waves-light(type="submit", name="action") Enregistrer
            br
            br
    h3 Zones existantes
    table.highlight
        thead
            tr
                th Zone
                th Login personne contact
                th Chauffeur de bus
                th

        tbody
            each zone in zones
                tr
                    .zone
                        td
                            value=zone.zoneName
                        td
                            value=zone.zoneLogin[0].username
                        td
                            value=zone.zoneLogin[1].username
                        td
                            button.right.btn.waves-effect.waves-light(onclick='deleteZone(' + zone.id_zone + ')') Supprimer
                            // Modal Trigger
                            a(href="#modaleditzone", data-idzone=zone.id_zone, data-zonename=zone.zoneName, data-zoneusername=zone.zoneLogin[0].username, data-zonepassword=zone.zoneLogin[0].password, data-firstname=zone.zonePersonContact.firstName, data-lastname=zone.zonePersonContact.lastName, data-telephon=zone.zonePersonContact.telephon, data-email=zone.zonePersonContact.email, data-busdriverusername=zone.zoneLogin[1].username, data-busdriverpassword=zone.zoneLogin[1].password).waves-effect.waves-light.right.btn.modal-trigger Details/Modifier
                            // Modal Structure
                            #modaleditzone.modal.modal-fixed-footer
                                .modal-content
                                    alert("test")

                                    h4 Modification de la zone
                                    p
                                        h5 Détails zone
                                        label(for='idZone') Id Zone
                                        input.validate(disabled="", type='text', id="idZone", autofocus)
                                        br
                                        label(for='zoneName') Nom zone
                                        input(type='text', id="zoneName", autofocus)
                                        br
                                        label(for='zoneUsername') Login
                                        input(type='text', id="zoneUsername", autofocus)
                                        br
                                        label(for='zonePassword') Password
                                        input(type='text', id="zonePassword", autofocus)
                                        br
                                        h5 Détails personne contact
                                        label(for='firstname') Prénom
                                        input(type='text', id="firstname", autofocus)
                                        br
                                        label(for='lastname') Nom de famille
                                        input(type='text', id="lastname", autofocus)
                                        br
                                        label(for='telephon') N° téléphone
                                        input(type='text', id="telephon", autofocus)
                                        br
                                        label(for='email') Email
                                        input(type='text', id="email", autofocus)
                                        br
                                        h5 Détails chauffeur de bus
                                        label(for='busdriverUsername') Login
                                        input(type='text', id="busdriverUsername", autofocus)
                                        br
                                        label(for='busdriverPassword') Password
                                        input(type='text', id="busdriverPassword", autofocus)
                                        br
                                .modal-footer
                                    button.modal-action.modal-close.waves-effect.waves-green.btn-flat(onclick='updateZoneInfos()') Enregistrer