extends layout_superadmin

block content
    h3 Réservations
    table#tableReservation.highlight
        thead
            tr
                th Date
                th Zone
                th Ligne
                th Nom groupe
                th Station-départ
                th Station-arrivée
                th Nombre vélos
                th Confirmé?

        tbody
            each zoneToReservation in zoneToReservations
                tr
                    .zoneToReservation
                        td
                            value=zoneToReservation.reservationJourneyReservation.dateReservation.day+'.'+zoneToReservation.reservationJourneyReservation.dateReservation.month+'.'+zoneToReservation.reservationJourneyReservation.dateReservation.year
                        td
                            value=zoneToReservation.journeyJourneyReservation.journeyLine.zoneLine.zoneName
                        td
                            value=zoneToReservation.journeyJourneyReservation.journeyLine.lineName
                        td
                            value=zoneToReservation.reservationJourneyReservation.groupName
                        td
                            value=zoneToReservation.reservationJourneyReservation.from
                        td
                            value=zoneToReservation.reservationJourneyReservation.to
                        td
                            value=zoneToReservation.reservationJourneyReservation.numberBikes
                        td
                            if zoneToReservation.reservationJourneyReservation.isConfirmed
                                value='Oui'
                            else
                                value='Non'
