extends layout_zoneadmin

block content
    h3 Réservations
    table#tableReservation.highlight
        thead
            tr
                th Date
                th Zone
                th Ligne
                th Nom groupe
                th Station-départ
                th Station-arrivée
                th Nombre vélos
                th Confirmé?
                th

        tbody
            each reservation in reservations
                tr
                    .zoneToReservation
                        td
                            value=reservation.reservationJourneyReservation.dateReservation.day + '.' + reservation.reservationJourneyReservation.dateReservation.month + '.' + reservation.reservationJourneyReservation.dateReservation.year
                        td
                            value=reservation.journeyJourneyReservation.journeyLine.zoneLine.zoneName
                        td
                            value=reservation.journeyJourneyReservation.journeyLine.lineName
                        td
                            value=reservation.reservationJourneyReservation.groupName
                        td
                            value=reservation.reservationJourneyReservation.from
                        td
                            value=reservation.reservationJourneyReservation.to
                        td
                            value=reservation.reservationJourneyReservation.numberBikes
                        td
                            if reservation.reservationJourneyReservation.isConfirmed
                                value='Oui'
                            else
                                value='Non'
                        td
                            //button.right.btn.waves-effect.waves-light() Confirmer
