extends layout_zoneadmin

block content
    h3 Réservations
    .input-field.col.s12
        select(name='id_journey', required)
            option(value="", disabled="", selected="") Choisir un voyage
            each journey in journeys
                .journey
                    option(id="idJourney", value=journey.id_journey)
                        label=journey.journeyLine.lineName+" - "+journey.journeyNumber
    button.btn.waves-effect.waves-light(onclick='countBikesPerJourney()') nbBike
    label(id='response')

    table#tableReservation.highlight
        thead
            tr
                th Date
                th Zone
                th Ligne
                th Nom groupe
                th Station-départ
                th Station-arrivée
                th Nombre vélos
                th Confirmé?
                th

        tbody
            each reservation in reservations
                tr
                    .zoneToReservation
                        td
                            value=reservation.reservationJourneyReservation.dateReservation.day + '.' + reservation.reservationJourneyReservation.dateReservation.month + '.' + reservation.reservationJourneyReservation.dateReservation.year
                        td
                            value=reservation.journeyJourneyReservation.journeyLine.zoneLine.zoneName
                        td
                            value=reservation.journeyJourneyReservation.journeyLine.lineName
                        td
                            value=reservation.reservationJourneyReservation.groupName
                        td
                            value=reservation.reservationJourneyReservation.from
                        td
                            value=reservation.reservationJourneyReservation.to
                        td
                            value=reservation.reservationJourneyReservation.numberBikes
                        td
                            if reservation.reservationJourneyReservation.isConfirmed
                                value='Oui'
                            else
                                value='Non'
                        td
                            a(href="#modalreservations", data-idreservation=reservation.reservationJourneyReservation.id_reservation, data-firstnamereservation=reservation.reservationJourneyReservation.firstName, data-lastnamereservation=reservation.reservationJourneyReservation.lastName, data-telephonreservation=reservation.reservationJourneyReservation.telephon, data-emailreservation=reservation.reservationJourneyReservation.email, data-remarksreservation=reservation.reservationJourneyReservation.remarks).waves-effect.waves-light.right.btn.modal-trigger Accepter/Refuser
                            // Modal Structure
                            #modalreservations.modal.modal-fixed-footer
                                .modal-content
                                    alert("test")

                                    h4 Détails de la réservation
                                    p
                                        label(for='idReservation') Id Réservation
                                        input.validate(disabled="", type='text', id="idReservation", autofocus)
                                        br
                                        label(for='firstnameReservation') Prénom
                                        input.validate(disabled="", type='text', id="firstnameReservation", autofocus)
                                        br
                                        label(for='lastnameReservation') Nom de famille
                                        input.validate(disabled="", type='text', id="lastnameReservation", autofocus)
                                        br
                                        label(for='telephonReservation') N° téléphone
                                        input.validate(disabled="", type='text', id="telephonReservation", autofocus)
                                        br
                                        label(for='emailReservation') Email
                                        input.validate(disabled="", type='text', id="emailReservation", autofocus)
                                        br
                                        label(for='remarksReservation') Remarques
                                        input.validate(disabled="", type='text', id="remarksReservation", autofocus)
                                        br
                                .modal-footer
                                    button.modal-action.modal-close.waves-effect.waves-green.btn-flat(onclick='acceptReservation()') Accepter
                                    button.modal-action.modal-close.waves-effect.waves-green.btn-flat(onclick='refuseReservation()') Refuser
